<!-- home -->
<template>
  <div class="about-container">
    <div class="warpper">
      <div class="list">
        <div class="logo"></div>
        <div class="demo-home__title">VUE H5 开发模板</div>
        <div class="item">
          <h4>原模板来源</h4>
          <a href="https://github.com/sunniejs/vue-h5-template">https://github.com/sunniejs/vue-h5-template</a>
        </div>
        <div class="item dep">
          <h4>dependencies</h4>
          <p
            v-for="(version, key) in pkg.dependencies"
            :key="key"
          >
            {{ key }}: <van-tag type="primary" plain>{{ version }}</van-tag>
          </p>
        </div>
        <div class="item dep">
          <h4>devDependencies</h4>
          <p
            v-for="(version, key) in pkg.devDependencies"
            :key="key"
          >
            {{ key }}: <van-tag type="primary" plain>{{ version }}</van-tag>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 请求接口
import { mapGetters } from 'vuex'
import pkg from '../../../package'
import { Tag } from 'vant'

export default {
  components: {
    VanTag: Tag
  },
  data() {
    return {
      pkg
    }
  },
  computed: {
    ...mapGetters(['userName'])
  },
  methods: {
  }
}
</script>
<style lang="scss">
.about-container {
  /* 你的命名空间 */
  background: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  .warpper {
    padding: 50px 12px 12px 12px;
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #666;
      font-size: 14px;
      .demo-home__title {
        margin: 0 0 6px;
        font-size: 32px;
        .demo-home__title img,
        .demo-home__title span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .dep {
      width: calc(100% - 80px);
      text-align: start;
    }
  }
}
</style>
